In [3]:
import pandas as pd

In [6]:
drinks = pd.read_csv('./drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [ ]:
drinks.groupby('continent')['beer_servings'].mean()

In [ ]:
drinks.groupby('continent').agg(beer_mean_consumption=('beer_servings','mean')).sort_values('beer_mean_consumption', ascending=False).head(1)

In [ ]:
drinks.groupby('continent').agg({'beer_servings':'mean'}).sort_values('beer_servings', ascending=False).to_dict()

Step 5. For each continent print the statistics for wine consumption.

In [ ]:
drinks.groupby('continent')['wine_servings'].describe()

In [ ]:
drinks.groupby('continent')['wine_servings']

Step 6. Print the mean alcohol consumption per continent for every column

In [ ]:
drinks.groupby('continent').agg(lambda x: x.mean())

In [ ]:
drinks.groupby('continent').mean()

In [ ]:
drinks.groupby('continent').agg({'country': 'size', 'beer_servings': ['sum', 'mean']})

In [9]:
drinks.groupby('continent').agg(lambda x: x.median())

/tmp/ipykernel_27908/2323432610.py:1: FutureWarning: ['country'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  drinks.groupby('continent').agg(lambda x: x.median())

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

Grouping Data: A Step-by-Step Tutorial to GroupBy in Pandas (https://www.kaggle.com/datasets/imdevskp/nobel-prize)

In [12]:
import pandas as pd
import numpy as np

In [13]:
import os
os.getcwd()

'/home/afghani/afghani_root_dir/JobSearch/code_practice/python/leetcode_practice/pandas_practice/guipsamora_github_exercises/03_Grouping'

In [20]:
os.listdir('~/afghani_root_dir/JobSearch/code_practice/python/practice_data')

['Untitled.ipynb',
 'Numpy',
 'guipsamora_github_exercises',
 'Pandas_EXL.ipynb',
 '.ipynb_checkpoints']

In [ ]:
df = pd.read_csv(../../../pandas_practice/data_dir/Nobell)